apiVersion: v1
kind: Service
metadata:
  name: scaffolder-demo
  labels:
    app: scaffolder-demo
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    app: scaffolder-demo
